.cabecalho-menu-hamburguer {
    width: 45px;
    height: 45px;
    background-image: url("../Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
 background-color: var(--branco);
 display: flex;
 justify-content: space-between;
 align-items: center;
 position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked ~ .lista-menu{
    display: block;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: #FFFFFF;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    color: var(--azul);
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

    @media screen and (min-width: 1024px) {
        .container__titulo, .container__titulo--negrito {
            font-family: var(--fonte-secundario);
            font-size: 30px;
        }

        .container__titulo {
            font-weight: 400;
            display: block;
        }

        .container__titulo--negrito {
            font-weight: 700;
        }
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }